<app-layout>
    <h3>Configuracion Factura</h3>
    <ng-template #customTabButtons>
        <ul class="navbar-nav">
            <li class="nav-item"><button [disabled]="mode!='edit'" (click)="delete()" class="navbar-brand btn"><mat-icon
                        class="align-middle">delete</mat-icon></button></li>
        </ul>
    </ng-template>
    <div toolbar>
        <app-toolbar-form [printDisabled]="true" [toolbarTemplate]="customTabButtons" [mode]="mode"></app-toolbar-form>
    </div>
    <div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">            
            <div class="form-group row">
                <div class="col-xs-1 col-lg-1">
                    <label for="Id">Codigo</label>
                    <input type="text" class="form-control" formControlName="Id" required [readonly]="mode=='edit'">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-4 col-lg-4">
                    <label for="Nombre">Nombre</label>
                    <input type="text" class="form-control" formControlName="Nombre" required maxlength="60">
                </div>
            </div>            
            <mat-card class="card">
                <mat-card-header>
                  <mat-card-title>Impresión</mat-card-title>
                  <mat-card-subtitle>Formularios de impresión</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>Seleccione un formulario peronalizado.</p>
                  <div class="col-xs-4 col-lg-4">
                    <label for="Reporte">Reporte</label>
                    <input type="text" class="form-control" formControlName="Reporte"  maxlength="60">
                </div>
                  <div class="col-xs-4 col-lg-4">
                    <label for="ReporteFiscal">Reporte Fiscal</label>
                    <input type="text" class="form-control" formControlName="ReporteFiscal" maxlength="60">
                </div>
                </mat-card-content>                
              </mat-card>
            <mat-card>
                <mat-card-header>
                  <mat-card-title>Puntos de Ventas</mat-card-title>
                  <mat-card-subtitle>Puntos de Ventas de Afip</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p *ngIf="puntosemision.length === 0">Seleccione los puntos de ventas habilitados.</p>
                  <p><button type ="button" class="btn btn-primary" (click)="openDialogAddPuntoEmision()">Añadir</button></p>                 
                  <div>                    
                    <app-punto-emision-config-list [dataSource]="puntosemision" (removeEvent)="removePuntoEmision($event)"
          ></app-punto-emision-config-list>
                  </div> 
              </mat-card-content>                
              </mat-card>
            <div class="row mt-3">
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Aceptar</button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary" (click)="goBack()">Cancelar</button>
                </div>
            </div>
            
        </form>
    </div>
</app-layout>