<app-layout>
    <h3>Cuenta Mayor</h3>
    <div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <div class="col-xs-1 col-lg-2">
            <label for="Id">Codigo</label>
            <input type="text" class="form-control" id="Id" formControlName = "Id"  name="Id" [readonly]="mode=='edit'">
          <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert alert-danger">
               <div *ngIf="id.errors.required">Codigo Requerido.</div>
               <div *ngIf="id.errors?.serverError">{{id.errors.serverError}}</div>               
           </div>         
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-6 col-lg-6">
               <label for="name">Nombre</label>
               <input type="text" class="form-control"  formControlName = "Nombre" required  >
          </div>
        </div>    
        <div class="form-group row"> 
          <div class="col-md-3">
            <label for="idTipoCuentaMayor">Tipo Cuenta</label>
            <select class="form-control" formControlName = "IdTipo" name="IdTipo" >
               <option *ngFor="let item of tipoCuentaMayor" [ngValue]="item.Id" >{{item.Nombre}} </option>
             </select>                
           </div>
        </div>
        <div class="form-group row"> 
            <div class="col-md-3">
              <label for="IdUsoCuentaMayor">Uso Cuenta</label>
              <select class="form-control" formControlName = "IdUso" name="IdUso" >
                 <option *ngFor="let item of usoCuentaMayor" [ngValue]="item.Id" >{{item.Nombre}} </option>
              </select>              
              <span *ngIf="f.IdUso.errors?.serverError">{{f.IdUso.errors?.serverError}}</span>   
             </div>
        </div>        
        <div class="row">
          <div class="col-md-1">   
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Aceptar</button>    
          </div> 
          <div class="col-md-1">
            <button class="btn btn-primary" (click)="goBack()">Cancelar</button>
          </div>  
         </div>    
      </form> 
    </div>
    </app-layout>
    


