<nav class="navbar">
  <button class="navbar-toggle" (click)="toggleNavbar()">☰</button>

  <div class="navbar-content" [class.show]="navbarOpen">
    <div class="search-box">
      <mat-icon matPrefix>search</mat-icon>
      <input
        type="text"
        placeholder="Buscar"
        [(ngModel)]="name"
        (ngModelChange)="onFindByName($event)"
      />
    </div>
    <div class="navbar-buttons">
      <button *ngIf="addNewVisible" (click)="onAddNew()">➕</button>
      <button *ngIf="printVisible" (click)="onPrint()">🖨️</button>
      <button *ngIf="exportToExcelVisible" (click)="onExportToExcel()">📄</button>
      <ng-container *ngTemplateOutlet="toolbarTemplate">
      </ng-container>
    </div>
  </div>
</nav>
