<h3>Agregar Movimiento Stock</h3>
<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <div class="alert alert-warning alert-dismissible fade show" *ngFor="let error of errors" role="alert">
        {{error.mensaje}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    <!-- Código -->
    <div class="form-group row">
      <div class="col-12 col-sm-6 col-md-3 col-lg-2">
        <label for="fecha">Fecha</label>
        <input type="date" class="form-control" formControlName="Fecha" required name="Fecha">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">
        <label for="name">Tipo</label>
        <select class="form-control" formControlName="Tipo" name="Tipo">
          <option *ngFor="let item of tiposMovimiento" [ngValue]="item.Id">{{item.Nombre}} </option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4 col-lg-4">
        <label for="name">Concepto</label>
        <input type="text" class="form-control" formControlName="Concepto" required name="Concepto">
      </div>
    </div>    
    <div class="form-group row">
      <div class="col-xs-2 col-lg-2">
        <label for="name">Numero</label>
        <input type="text" class="form-control" formControlName="Numero" required name="Numero">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
      <label for="name">Deposito</label>
    <select class="form-control" formControlName = "IdDeposito" name="IdDeposito" >
      <option *ngFor="let item of depositos" [ngValue]="item.Id" >{{item.Nombre}} </option>
    </select>   
    </div>
    </div>
    <!-- Articulo -->
      <div class="form-group row">
        <div class="col-sm-12 col-md-1">
          <label>Articulo</label>
          <input type="text" class="form-control" id="IdArticulo" formControlName="IdArticulo">
        </div>
        <div class="col-sm-12 col-md-4">
          <label class="form-label"></label>
          <app-entity-select [data]="articulos" [id]="form.get('IdArticulo')?.value" (onChange)="onChangeArticulo($event)">
          </app-entity-select>
        </div>
      </div>
    <div class="form-group row">
      <div class="col-xs-2 col-lg-1">
        <label for="name" >Cantidad</label>
        <input type="number" class="form-control" formControlName="Cantidad" required name="Cantidad">
      </div>
    </div>
    <!-- Botones -->
    <div class="mt-2">
      <button type="submit" [disabled]="!isValid()" class="btn btn-primary">Aceptar</button>
      <button type="button" class="btn btn-secondary ms-1" (click)="onClose()">Cancelar</button>
    </div>
  </form>
</div>