<app-layout>
    <div toolbar >
      <app-toolbar  [addNewVisible]="false" [printVisible]="true"  (print)="onPrint()" (findByName)="findByName($event)" >        
      </app-toolbar>
    </div>
    <div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
      <label>Balance Mayor </label>     
      <label>Fecha</label>      
      <input type="date"  id="Fecha" formControlName = "Fecha" required name="Fecha" [ngModel]="param.Fecha | date:'yyyy-MM-dd'"   (ngModelChange)="onSubmit()">        
      <label>Fecha Hasta</label>
      <input type="date"   id="FechaHasta" formControlName = "FechaHasta" required name="Fecha" [ngModel]="param.FechaHasta | date:'yyyy-MM-dd'"   (ngModelChange)="onSubmit()">        
    </form>
    </div>
    <div>
      <mat-table  class="table-compact" [dataSource]="dataSource" matSort>           
        <!-- Codigo Column -->
        <ng-container matColumnDef="Codigo">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </mat-header-cell>
          <mat-cell class="mat-cell-sm" *matCellDef="let item"><a href="contable/mayor/listview?idCuentaMayor={{item.Id}}">{{item.Id}}</a></mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <!-- Nombre Column -->
        <ng-container matColumnDef="Nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
          <mat-cell class="mat-cell-sm" *matCellDef="let item"> {{item.Nombre  }}</mat-cell>
          <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
        </ng-container>    
        <!-- Saldo Anterior -->
        <ng-container matColumnDef="SaldoAnterior">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Saldo Anterior </mat-header-cell>
          <mat-cell class="mat-cell-sm" *matCellDef="let item"> {{item.SaldoAnterior | number : '1.2-2'}}</mat-cell>
          <mat-footer-cell *matFooterCellDef>{{totalSaldoAnterior| number : '1.2-2'}}</mat-footer-cell>
        </ng-container>    
        <!-- Debe Column -->
        <ng-container matColumnDef="Debitos">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Debitos </mat-header-cell>
          <mat-cell class="mat-cell-sm" *matCellDef="let item"> {{item.Debitos | number : '1.2-2' }}</mat-cell>
          <mat-footer-cell *matFooterCellDef>{{ totalDebitos | number : '1.2-2' }}</mat-footer-cell>
        </ng-container>
         <!-- Haber Column -->
         <ng-container matColumnDef="Creditos">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Creditos </mat-header-cell>
          <mat-cell class="mat-cell-sm" *matCellDef="let item"> {{item.Creditos | number : '1.2-2' }}</mat-cell>
          <mat-footer-cell *matFooterCellDef>{{ totalCreditos | number : '1.2-2' }}</mat-footer-cell>
        </ng-container>  
         <!-- Saldo Column -->
         <ng-container matColumnDef="SaldoPeriodo">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Saldo Periodo </mat-header-cell>
          <mat-cell class="mat-cell-sm" *matCellDef="let item"> {{item.SaldoPeriodo | number : '1.2-2' }}</mat-cell>
          <mat-footer-cell *matFooterCellDef>{{totalSaldoPeriodo | number : '1.2-2'}}</mat-footer-cell>
        </ng-container>                
         <ng-container matColumnDef="Saldo">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Saldo </mat-header-cell>
          <mat-cell class="mat-cell-sm" *matCellDef="let item"> {{item.Saldo | number : '1.2-2' }}</mat-cell>
          <mat-footer-cell *matFooterCellDef>{{totalSaldo | number : '1.2-2'}}</mat-footer-cell>
        </ng-container>                
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>  
        <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row> 
      </mat-table>  
      <mat-paginator [pageSizeOptions]="[15, 25, 50, 100]"></mat-paginator>
    </div>
      
   </app-layout>

