/* Alinea las pestañas a la izquierda */
.mat-tab-labels {
    justify-content: flex-start;
  }
  
  /* Ajusta el espaciado y los márgenes */
  .mat-tab-label {
    margin-right: 20px; /* Espacio entre las pestañas */
  }
  .form-control-1 {
    display: block;
    width: 100%;
    padding: 0.100rem 0.25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  